prestashop_data/var/cache/

# Ignorar siempre estos directorios y archivos
.DS_Store
.env
.windsurfrules
cache/*
download/*
img/*
log/*
upload/*
vendor/*
var/*
admin*/
tools/
translations/
docs/
js/
localization/
mails/
pdf/
webservice/
